<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>

    function new_card(content) {
        var listview = document.getElementById("listview");

        var card = document.createElement("DIV");
        card.className = "card";
        var card_body = document.createElement("DIV");
        card_body.className = "card-body";

        card_body.appendChild(content);
        card.appendChild(card_body);

        // appending button to div
        listview.appendChild(card);
    }

    function create_new_config(data) {
        switch(data.type) {
    case 'line':
      return  simple_config(data);
      break;
    case 'bar':
      return  simple_config(data);
      break;
    case 'pie':
      return  no_axis_config(data);
      break;
    case 'radar':
      return  no_axis_config(data);
      break;
    case 'polarArea':
      return  no_axis_config(data);
      break;
    case 'doughnut':
      return  no_axis_config(data);
      break;
    case 'horizontalBar':
      return simple_config(data);
    break;
    case 'bubble':
      return  simple_config(data);
      break;
    case 'custom':
      return custom_config(data);
      break;
default:

}
    }

    function custom_config(data){
      return data.config;
    }

        function generate_dataset(data){
              var datasets = []
        for(i = 0; i < data.legend.length; i++){
          datasets.push({
              label: data.legend[i],
              backgroundColor: data.backgroundColor[i],
              borderColor: data.borderColor[i],
              data: [data.value[i]],
              fill: false, // TODO
        });
        }
      return datasets;
      }


    function no_axis_config(data){

      var datasets = generate_dataset(data);
    //  console.log(datasets);
      return  config = {
            type: data.type,
            id: data.id,

            width: data.width,
            height: data.height,

            data: {
                labels: [data.label],
                datasets: datasets,
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: data.name
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
            }
        };


    }



    function simple_config(data){
      var datasets = generate_dataset(data);
      return  config = {
            type: data.type,
            id: data.id,

            width: data.width,
            height: data.height,

            data: {
                labels: [],
                datasets: datasets,
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: data.name
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: data.label
                        }
                    }]
                }

            }
        };

    }


    var paus = false;

    $(document).ready(function(){
        //connect to the socket server.
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
        var numbers_received = [];
        var ChartList = [];

        //receive socket from server
        socket.on('server', function(data) {

                var config;
                var ctx;


                if(data.type == "heatmap"){
                  if(document.getElementById(data.id)){
                  } else {
                    var canvas = document.createElement('CANVAS');
                    canvas.id = data.id;

                    new_card(canvas);

                  }
                }

                if(data.type == "image"){
                    if(document.getElementById(data.id)){
                      var image = document.getElementById(data.id);
                      image.src = data.value;

                    } else {
                  var container = document.createElement("DIV");
                  var title = document.createElement("H1");
                  title.style.textAlign = "center";
                  var node = document.createTextNode(data.name);
                  title.appendChild(node);
                  container.appendChild(title);

                  var image = document.createElement("IMG");
                  image.className = "image";
                  image.id = data.id;
                  image.style.height = '100%';
                  image.style.width = '100%';
                  image.src = data.value;
                  container.appendChild(image);
                  new_card(container);
                  }
                }

                // see if chart is already created
                if(document.getElementById(data.id)){

                ChartList.forEach(function(chart){
                    if(chart.config.id == data.id){
                      config = chart.config;
                      ctx = chart;
                    }
                  });
                  if( config == null || ctx == null || paus){
                    return;
                  }

                  if(data.type == "custom"){
                    config = data.config
                    ctx.update();

                  } else {

                  // Shift Chart
                  if (config.data.labels.length === data.active_points) {
                      config.data.labels.shift();
                      config.data.datasets.forEach(function(datavalue){
                        datavalue.data.shift();
                      });
                  }

                  // Add new Value
                  config.data.labels.push(data.time);
                  var data_set = false;

                    var j = data.legend.length;
                    for (i = 0; i < j; i++){

                    if(config.data.datasets.length > 1){

                    config.data.datasets.forEach(function(datavalue){
                      if(datavalue.label == data.legend[i]){
                        data_set = true;
                      datavalue.data.push(data.value[i]);
                      }
                    });
                  } else {

                      if(config.data.datasets[0].label == data.legend[i]){
                        data_set = true;
                      config.data.datasets[0].data.push(data.value[i]);
                  }
                }

              // Create new graph if label doesn't exist.
              if (!data_set){
                config.data.datasets.push({
                    label: [data.legend[i]],
                    backgroundColor: [data.backgroundColor[i]],
                    borderColor: [data.borderColor[i]],
                    data: [data.value[i]],
                    fill: false,
              });
            }
          }

            ctx.update();
            }
                } else {
                  // First time new Id appears
                  // Create new graph
                  var canvas = document.createElement('CANVAS');
                  canvas.id = data.id;
                  var config = create_new_config(data);

                  //console.log(config);

                  var lineChart = new Chart(canvas, config);

                  ChartList.push(lineChart);

                  new_card(canvas);
                }
            });
    });


    function clear_func(){
    // Remove all charts and data
  //  console.log("clear");
    ChartList = [];

    var listview = document.getElementById('listview');
  //  console.log(listview);

    var children = listview.children;

    for (let child of children) {
      if(child.id != "buttons"){
        child.remove()
      }
    }

    //children.forEach(function(child){
  //    child.remove();
    //});
  }

    function paus_func(){
      // Toggle paus variable
      if (paus){
        paus = false;
      } else {
        paus = true;
      }
    }

    </script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <body>
  <div class="container">
      <div class="row">
          <div class="col-12" id="listview">
              <div class="card" id="buttons">
                  <div class="card-body">
                    <input type="submit" name="Reset_button" value="Clear All" onclick="clear_func();">
                    <input type="submit" name="Paus_button" value="Paus Toggle" onclick="paus_func();">
                </div>
              </div>
          </div>
      </div>
  </div>
  <!--suppress JSUnresolvedLibraryURL -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!--suppress JSUnresolvedLibraryURL -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!--suppress JSUnresolvedLibraryURL -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script>

      </script>
  </body>
  </html>
